* {
  box-sizing: border-box;
  padding-left: 2%;
  padding-top: 1%;
  
}

.body{
  font-family: roboto;
  margin: 4px;
  background-color: #dfdfdfdf;
}
.btn {
  font: roboto;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color:#ef0505 ;
  color: white; 
}

.card{
  background-color: rgb(230, 244, 245);
  border-radius: 5px;
  padding: 1rem;
  width: 20rem;
  box-shadow: 0 1px 5px rgba(0, 0 ,0,2);
  margin-bottom: 4%;

}

h1 {
  color: #2e10a7;
}
h2 {
  color: #1b11d5;
}

.btn--alt {
  font: roboto;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color:#4bf3dd ;
  border-style: 1px solid;
  
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.actions {
  text-align: right;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: #d99bb8;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.modal {
  box-shadow: 0 1px 5px rgba(65, 60, 60, 0.2);
  border-radius: 6px;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
  width: 30rem;
  z-index: 10;
}

